.grass {
    background-color: #DEFDE0;
}

.fire {
    background-color: #FDDFDF;
}
.electric {
    background-color: #FCF7DE;
}
.water {
    background-color: #DEF3FD;
}
.ground {
    background-color: #f4e7da;
}
.rock {
    background-color: #d5d5d4;
}
.poison {
    background-color: #d19cd9;
}
.bug  {
    background-color: #f8d5a3;
}
.dragon {
    background-color: #97b3e6;
}
.psychic {
    background-color: #eaeda1;
}
.flying {
    background-color: #F5F5F5;
}
.fighting {
    background-color: #E6E0D4;
}
.normal {
    background-color: #F5F5F5;
}
.ice {
    background-color: #66ccff;
}

.pokemon-card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-left: 10px;
    margin-top: 10px;
    height: 212px;
    width: 120px;
    border-radius: 20px;
}

.name {
   
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
.img-container {
    width: 120px;
    height: 120px;
   background-color: rgba(255,255,255,0.6);
    border-radius: 100px;
}
.image {
   width: 120px;
    height: 120px; 
    margin-top: 30px;
}
.number {
    background-color: rgba(0,0,0,0.1);
    padding: 5px 10px 5px 10px;
    font-size: 10px;
    margin-top: 40px;
    text-align: center;
    border-radius: 100px;
    width: 20%;
    margin-left: 37px;
    
}

.type {
    margin-top: 5px;
    font-size: 10px;
    text-align: center;
}

section {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 25px;
    
}

body > div {
    max-width: 300px;
    margin: auto;
}

::placeholder{
    color: white;
}

#searchInput {
    width: 100%;
    padding: 10px 5px 10px 5px;
    border: none;
    background-color: rgba(0,0,0,0.2);
    color: white;
    font-family: 'roboto';
    font-size: 15px;
    
}

h1 {
    text-align: center;
    color: white;
     font-family: 'roboto';
}

body {
    background-image: linear-gradient(to right,#ff9966, #ff5e62); 
}